<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frieza_boom_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{435,232},{66,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{431,852},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{431,913},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{102,105}</string>
                <key>textureRect</key>
                <string>{{1,987},{86,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{87,103}</string>
                <key>spriteSourceSize</key>
                <string>{97,105}</string>
                <key>textureRect</key>
                <string>{{1,882},{87,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{1,1080},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{94,105}</string>
                <key>textureRect</key>
                <string>{{343,1043},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{345,753},{86,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{90,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,105}</string>
                <key>textureRect</key>
                <string>{{101,774},{90,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,105}</string>
                <key>spriteSourceSize</key>
                <string>{90,105}</string>
                <key>textureRect</key>
                <string>{{345,841},{84,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,105}</string>
                <key>spriteSourceSize</key>
                <string>{89,105}</string>
                <key>textureRect</key>
                <string>{{1,775},{87,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{369,499},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{158,128}</string>
                <key>textureRect</key>
                <string>{{369,629},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,553},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{138,128}</string>
                <key>textureRect</key>
                <string>{{125,553},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{78,71}</string>
                <key>textureRect</key>
                <string>{{240,1121},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{94,71}</string>
                <key>textureRect</key>
                <string>{{164,1162},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{1,1177},{71,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{314,1134},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{247,119}</string>
                <key>spriteSourceSize</key>
                <string>{263,123}</string>
                <key>textureRect</key>
                <string>{{248,497},{247,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{247,133}</string>
                <key>spriteSourceSize</key>
                <string>{263,153}</string>
                <key>textureRect</key>
                <string>{{1,295},{247,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{281,143}</string>
                <key>spriteSourceSize</key>
                <string>{283,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{245,149}</string>
                <key>spriteSourceSize</key>
                <string>{265,153}</string>
                <key>textureRect</key>
                <string>{{284,1},{245,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{263,163}</string>
                <key>textureRect</key>
                <string>{{1,146},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{247,145}</string>
                <key>spriteSourceSize</key>
                <string>{283,163}</string>
                <key>textureRect</key>
                <string>{{250,248},{247,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{245,121}</string>
                <key>spriteSourceSize</key>
                <string>{265,163}</string>
                <key>textureRect</key>
                <string>{{1,430},{245,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{193,841},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{186,1099},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{193,778},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{430,974},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{81,55}</string>
                <key>textureRect</key>
                <string>{{190,904},{69,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{202,677},{42,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{435,86},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{435,1},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{423,1084},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{344,948},{84,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{83,1155},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{88,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{89,1065},{88,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,99}</string>
                <key>textureRect</key>
                <string>{{247,843},{92,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{248,746},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{101,677},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{397,300},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{1,677},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{92,98}</string>
                <key>textureRect</key>
                <string>{{90,879},{92,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{397,400},{97,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{247,937},{95,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,94}</string>
                <key>textureRect</key>
                <string>{{90,973},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{247,1029},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{397,248},{40,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{450,753},{49,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{188,1038},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{188,975},{61,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{435,161},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_boom_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{250,146},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{290,1205},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{202,732},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{450,804},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{437,1173},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{385,1173},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{236,1194},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_boom_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{430,1028},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Frieza_boom.png</string>
            <key>size</key>
            <string>{498,1247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e892ddfc298ba130e4aa49a9dd71563d:32f8a06389d784c5e51cf2d018148196:57d8059ef5b3a9d9b71374c5f53497b5$</string>
            <key>textureFileName</key>
            <string>Frieza_boom.png</string>
        </dict>
    </dict>
</plist>
