<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frieza_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{98,115}</string>
                <key>textureRect</key>
                <string>{{237,1235},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{137,414},{130,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,115}</string>
                <key>spriteSourceSize</key>
                <string>{119,115}</string>
                <key>textureRect</key>
                <string>{{1,835},{119,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,116}</string>
                <key>spriteSourceSize</key>
                <string>{101,116}</string>
                <key>textureRect</key>
                <string>{{360,987},{101,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,110}</string>
                <key>spriteSourceSize</key>
                <string>{119,110}</string>
                <key>textureRect</key>
                <string>{{247,806},{119,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{125,766},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,101}</string>
                <key>spriteSourceSize</key>
                <string>{165,101}</string>
                <key>textureRect</key>
                <string>{{175,87},{165,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{189,1693},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,107}</string>
                <key>spriteSourceSize</key>
                <string>{82,107}</string>
                <key>textureRect</key>
                <string>{{112,1565},{82,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,99}</string>
                <key>spriteSourceSize</key>
                <string>{161,99}</string>
                <key>textureRect</key>
                <string>{{1,91},{161,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_charge_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,147}</string>
                <key>spriteSourceSize</key>
                <string>{113,147}</string>
                <key>textureRect</key>
                <string>{{1,192},{113,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_charge_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{118,110}</string>
                <key>textureRect</key>
                <string>{{122,874},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_charge_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,109}</string>
                <key>spriteSourceSize</key>
                <string>{82,109}</string>
                <key>textureRect</key>
                <string>{{1,1561},{82,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_charge_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{78,116}</string>
                <key>textureRect</key>
                <string>{{119,1202},{78,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_defend_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{107,75}</string>
                <key>spriteSourceSize</key>
                <string>{107,113}</string>
                <key>textureRect</key>
                <string>{{1,1645},{107,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{99,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,113}</string>
                <key>textureRect</key>
                <string>{{1,1722},{99,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,113}</string>
                <key>textureRect</key>
                <string>{{427,305},{127,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{130,59}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{269,430},{130,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{129,53}</string>
                <key>spriteSourceSize</key>
                <string>{129,113}</string>
                <key>textureRect</key>
                <string>{{269,491},{129,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_fastMove_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,113}</string>
                <key>spriteSourceSize</key>
                <string>{115,113}</string>
                <key>textureRect</key>
                <string>{{387,647},{115,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_fastMove_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,85}</string>
                <key>spriteSourceSize</key>
                <string>{154,85}</string>
                <key>textureRect</key>
                <string>{{345,1},{154,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,94}</string>
                <key>spriteSourceSize</key>
                <string>{111,94}</string>
                <key>textureRect</key>
                <string>{{389,551},{111,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{221,1601},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{356,1090},{96,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{237,1137},{96,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,116}</string>
                <key>spriteSourceSize</key>
                <string>{101,116}</string>
                <key>textureRect</key>
                <string>{{238,1034},{101,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{120,986},{112,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{129,648},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{133,530},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{1,378},{134,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{242,918},{114,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{368,869},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{134,116}</string>
                <key>textureRect</key>
                <string>{{1,1047},{108,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,104}</string>
                <key>textureRect</key>
                <string>{{288,1693},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{1,664},{84,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{122,83}</string>
                <key>spriteSourceSize</key>
                <string>{128,83}</string>
                <key>textureRect</key>
                <string>{{1,750},{122,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,123}</string>
                <key>spriteSourceSize</key>
                <string>{130,123}</string>
                <key>textureRect</key>
                <string>{{295,305},{130,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{112,153}</string>
                <key>spriteSourceSize</key>
                <string>{128,153}</string>
                <key>textureRect</key>
                <string>{{164,190},{112,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{78,158}</string>
                <key>spriteSourceSize</key>
                <string>{128,158}</string>
                <key>textureRect</key>
                <string>{{342,88},{78,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_jump_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{84,168}</string>
                <key>spriteSourceSize</key>
                <string>{128,168}</string>
                <key>textureRect</key>
                <string>{{175,1},{84,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_knockOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,56}</string>
                <key>spriteSourceSize</key>
                <string>{109,56}</string>
                <key>textureRect</key>
                <string>{{349,1460},{109,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_knockOff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,67}</string>
                <key>spriteSourceSize</key>
                <string>{100,67}</string>
                <key>textureRect</key>
                <string>{{328,1620},{100,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_rangedAttack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,115}</string>
                <key>spriteSourceSize</key>
                <string>{99,115}</string>
                <key>textureRect</key>
                <string>{{401,434},{99,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_rangedAttack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{98,115}</string>
                <key>textureRect</key>
                <string>{{118,1282},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_rangedAttack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,108}</string>
                <key>spriteSourceSize</key>
                <string>{143,108}</string>
                <key>textureRect</key>
                <string>{{150,304},{143,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_rangedAttack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,106}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{234,1432},{113,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_rangedAttack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{121,107}</string>
                <key>textureRect</key>
                <string>{{253,697},{121,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_rangedAttack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,110}</string>
                <key>spriteSourceSize</key>
                <string>{124,110}</string>
                <key>textureRect</key>
                <string>{{261,585},{124,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{1,1157},{98,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{128,115}</string>
                <key>textureRect</key>
                <string>{{1,1361},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{98,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,1461},{98,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{128,115}</string>
                <key>textureRect</key>
                <string>{{354,1290},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{119,1100},{100,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{102,115}</string>
                <key>spriteSourceSize</key>
                <string>{128,115}</string>
                <key>textureRect</key>
                <string>{{1,1257},{102,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{118,1382},{104,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{128,115}</string>
                <key>textureRect</key>
                <string>{{355,1188},{100,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_ultimate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,130}</string>
                <key>spriteSourceSize</key>
                <string>{86,130}</string>
                <key>textureRect</key>
                <string>{{1,496},{86,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_ultimate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{103,121}</string>
                <key>textureRect</key>
                <string>{{376,764},{103,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_ultimate_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,126}</string>
                <key>spriteSourceSize</key>
                <string>{78,126}</string>
                <key>textureRect</key>
                <string>{{1,584},{78,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_ultimate_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{349,1518},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_ultimate_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,140}</string>
                <key>spriteSourceSize</key>
                <string>{69,140}</string>
                <key>textureRect</key>
                <string>{{1,307},{69,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,113}</string>
                <key>textureRect</key>
                <string>{{232,1540},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{87,61}</string>
                <key>spriteSourceSize</key>
                <string>{87,113}</string>
                <key>textureRect</key>
                <string>{{430,1620},{87,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{126,37}</string>
                <key>spriteSourceSize</key>
                <string>{126,113}</string>
                <key>textureRect</key>
                <string>{{261,546},{126,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{144,53}</string>
                <key>spriteSourceSize</key>
                <string>{144,113}</string>
                <key>textureRect</key>
                <string>{{319,250},{144,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{110,1649},{77,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,113}</string>
                <key>textureRect</key>
                <string>{{102,1722},{85,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_up_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{100,89}</string>
                <key>spriteSourceSize</key>
                <string>{100,113}</string>
                <key>textureRect</key>
                <string>{{386,1709},{100,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frieza_win_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,156}</string>
                <key>spriteSourceSize</key>
                <string>{80,156}</string>
                <key>textureRect</key>
                <string>{{342,168},{80,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_win_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,114}</string>
                <key>spriteSourceSize</key>
                <string>{68,114}</string>
                <key>textureRect</key>
                <string>{{352,1390},{68,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_win_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,113}</string>
                <key>spriteSourceSize</key>
                <string>{75,113}</string>
                <key>textureRect</key>
                <string>{{117,1488},{75,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_win_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,115}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{235,1335},{95,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frieza_win_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{1,952},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Frieza.png</string>
            <key>size</key>
            <string>{501,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f761db6ce3386aadae874742921c40:88d571ffa6f3819e115777cfc6ddd430:9c3542a0fa9aa0a615619c6135dba39c$</string>
            <key>textureFileName</key>
            <string>Frieza.png</string>
        </dict>
    </dict>
</plist>
