<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goku_boom_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{167,446},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,108}</string>
                <key>textureRect</key>
                <string>{{862,427},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{67,108}</string>
                <key>textureRect</key>
                <string>{{1174,321},{65,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{99,108}</string>
                <key>textureRect</key>
                <string>{{718,244},{85,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{87,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,108}</string>
                <key>textureRect</key>
                <string>{{360,393},{87,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{109,108}</string>
                <key>textureRect</key>
                <string>{{1096,131},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{1104,229},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{719,136},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{807,124},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{250,393},{84,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{996,229},{82,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{151,128}</string>
                <key>textureRect</key>
                <string>{{1029,1},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{161,128}</string>
                <key>textureRect</key>
                <string>{{250,269},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{153,128}</string>
                <key>textureRect</key>
                <string>{{373,269},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{139,128}</string>
                <key>textureRect</key>
                <string>{{497,148},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{1160,1},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{960,322},{70,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{96,71}</string>
                <key>textureRect</key>
                <string>{{1031,313},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{1103,321},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{247,133}</string>
                <key>spriteSourceSize</key>
                <string>{263,153}</string>
                <key>textureRect</key>
                <string>{{533,1},{247,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{281,143}</string>
                <key>spriteSourceSize</key>
                <string>{283,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{245,149}</string>
                <key>spriteSourceSize</key>
                <string>{265,153}</string>
                <key>textureRect</key>
                <string>{{1,146},{245,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{263,163}</string>
                <key>textureRect</key>
                <string>{{1,297},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{247,145}</string>
                <key>spriteSourceSize</key>
                <string>{283,163}</string>
                <key>textureRect</key>
                <string>{{284,1},{247,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{245,121}</string>
                <key>spriteSourceSize</key>
                <string>{265,163}</string>
                <key>textureRect</key>
                <string>{{782,1},{245,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{247,119}</string>
                <key>spriteSourceSize</key>
                <string>{263,123}</string>
                <key>textureRect</key>
                <string>{{248,148},{247,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{808,420},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{1177,131},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1094,391},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1034,443},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{79,58}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{86,446},{79,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{88,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{598,328},{88,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,99}</string>
                <key>textureRect</key>
                <string>{{695,331},{92,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{863,330},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{899,124},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{496,272},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{996,131},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{92,98}</string>
                <key>textureRect</key>
                <string>{{810,230},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{620,136},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{904,225},{95,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,94}</string>
                <key>textureRect</key>
                <string>{{620,236},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{563,418},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{1142,445},{40,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{1184,244},{49,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{990,455},{42,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{750,425},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{1,446},{62,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{792,331},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{659,425},{79,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{468,425},{84,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{1160,74},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{1031,384},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{960,394},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{808,483},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1177,439},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{548,372},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1157,391},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1184,194},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{496,372},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1088,445},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{934,455},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goku_boom.png</string>
            <key>size</key>
            <string>{1233,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a04ca20fb98af20a0c27181f732476:f64e93606789e815e06538f0fdcd135b:70f2266b87bfc5fa92c9b22b7bc1e77d$</string>
            <key>textureFileName</key>
            <string>Goku_boom.png</string>
        </dict>
    </dict>
</plist>
