<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goku_boom_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{238,435},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,108}</string>
                <key>textureRect</key>
                <string>{{1152,1},{70,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{67,108}</string>
                <key>textureRect</key>
                <string>{{1152,73},{65,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{99,108}</string>
                <key>textureRect</key>
                <string>{{1119,199},{85,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{87,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,108}</string>
                <key>textureRect</key>
                <string>{{763,366},{87,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{109,108}</string>
                <key>textureRect</key>
                <string>{{1068,91},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{1115,286},{78,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{852,365},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{746,202},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{774,1},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{774,111},{82,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{151,128}</string>
                <key>textureRect</key>
                <string>{{510,369},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{161,128}</string>
                <key>textureRect</key>
                <string>{{640,369},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{153,128}</string>
                <key>textureRect</key>
                <string>{{553,1},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{139,128}</string>
                <key>textureRect</key>
                <string>{{553,125},{121,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{1024,356},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{940,381},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{96,71}</string>
                <key>textureRect</key>
                <string>{{1012,429},{70,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{86,435},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{247,133}</string>
                <key>spriteSourceSize</key>
                <string>{263,153}</string>
                <key>textureRect</key>
                <string>{{295,1},{247,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{281,143}</string>
                <key>spriteSourceSize</key>
                <string>{283,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{245,149}</string>
                <key>spriteSourceSize</key>
                <string>{265,153}</string>
                <key>textureRect</key>
                <string>{{1,284},{245,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{263,163}</string>
                <key>textureRect</key>
                <string>{{146,1},{247,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{247,145}</string>
                <key>spriteSourceSize</key>
                <string>{283,163}</string>
                <key>textureRect</key>
                <string>{{248,250},{247,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{245,121}</string>
                <key>spriteSourceSize</key>
                <string>{265,163}</string>
                <key>textureRect</key>
                <string>{{430,1},{245,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{247,119}</string>
                <key>spriteSourceSize</key>
                <string>{263,123}</string>
                <key>textureRect</key>
                <string>{{497,248},{247,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1098,366},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{1083,429},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1137,429},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1152,366},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{79,58}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{157,435},{79,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{88,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{1055,1},{88,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,99}</string>
                <key>textureRect</key>
                <string>{{882,98},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{860,1},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{677,101},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{311,397},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{676,1},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{92,98}</string>
                <key>textureRect</key>
                <string>{{838,195},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{411,397},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{932,195},{95,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,94}</string>
                <key>textureRect</key>
                <string>{{957,1},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{976,93},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{248,397},{40,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{940,452},{49,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{42,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{677,202},{42,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{746,308},{56,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{1,435},{62,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{953,292},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1024,275},{79,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{1024,189},{84,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{821,308},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{1149,140},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{882,295},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1152,366},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1098,366},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{1083,429},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1137,429},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1152,366},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1098,366},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_boom_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{1083,429},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_boom_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1137,429},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goku_boom.png</string>
            <key>size</key>
            <string>{1211,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:777daf8153a802c903ee9b5e5755914f:b23877e5d7ca5cf7cec85e47bfd28eb2:70f2266b87bfc5fa92c9b22b7bc1e77d$</string>
            <key>textureFileName</key>
            <string>Goku_boom.png</string>
        </dict>
    </dict>
</plist>
