<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goku_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,121}</string>
                <key>spriteSourceSize</key>
                <string>{119,121}</string>
                <key>textureRect</key>
                <string>{{400,387},{119,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,115}</string>
                <key>spriteSourceSize</key>
                <string>{99,115}</string>
                <key>textureRect</key>
                <string>{{1180,72},{99,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,108}</string>
                <key>spriteSourceSize</key>
                <string>{137,108}</string>
                <key>textureRect</key>
                <string>{{214,310},{137,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{425,140},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,100}</string>
                <key>spriteSourceSize</key>
                <string>{127,100}</string>
                <key>textureRect</key>
                <string>{{702,305},{127,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,103}</string>
                <key>textureRect</key>
                <string>{{771,407},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,140}</string>
                <key>spriteSourceSize</key>
                <string>{79,140}</string>
                <key>textureRect</key>
                <string>{{1724,1},{79,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,133}</string>
                <key>spriteSourceSize</key>
                <string>{77,133}</string>
                <key>textureRect</key>
                <string>{{1384,47},{77,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,98}</string>
                <key>spriteSourceSize</key>
                <string>{151,98}</string>
                <key>textureRect</key>
                <string>{{97,163},{151,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,98}</string>
                <key>spriteSourceSize</key>
                <string>{151,98}</string>
                <key>textureRect</key>
                <string>{{197,157},{151,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,106}</string>
                <key>spriteSourceSize</key>
                <string>{134,106}</string>
                <key>textureRect</key>
                <string>{{324,251},{134,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,121}</string>
                <key>spriteSourceSize</key>
                <string>{95,121}</string>
                <key>textureRect</key>
                <string>{{1510,148},{95,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_charge_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{81,130}</string>
                <key>spriteSourceSize</key>
                <string>{89,150}</string>
                <key>textureRect</key>
                <string>{{521,371},{81,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_charge_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{89,120}</string>
                <key>spriteSourceSize</key>
                <string>{115,150}</string>
                <key>textureRect</key>
                <string>{{1380,221},{89,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_charge_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{75,138}</string>
                <key>spriteSourceSize</key>
                <string>{101,150}</string>
                <key>textureRect</key>
                <string>{{563,183},{75,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_charge_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{94,150}</string>
                <key>spriteSourceSize</key>
                <string>{102,150}</string>
                <key>textureRect</key>
                <string>{{588,1},{94,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_defend_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1623,274},{72,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,131}</string>
                <key>spriteSourceSize</key>
                <string>{90,131}</string>
                <key>textureRect</key>
                <string>{{1519,56},{90,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{117,82}</string>
                <key>spriteSourceSize</key>
                <string>{117,136}</string>
                <key>textureRect</key>
                <string>{{1721,143},{117,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{138,65}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{740,72},{138,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{118,73}</string>
                <key>spriteSourceSize</key>
                <string>{118,103}</string>
                <key>textureRect</key>
                <string>{{1494,335},{118,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{151,47}</string>
                <key>spriteSourceSize</key>
                <string>{151,103}</string>
                <key>textureRect</key>
                <string>{{425,91},{151,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_fastMove_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{85,114}</string>
                <key>spriteSourceSize</key>
                <string>{93,114}</string>
                <key>textureRect</key>
                <string>{{1633,158},{85,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_fastMove_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{161,88}</string>
                <key>spriteSourceSize</key>
                <string>{161,170}</string>
                <key>textureRect</key>
                <string>{{425,1},{161,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_fastMove_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{174,170}</string>
                <key>textureRect</key>
                <string>{{1384,1},{174,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,137}</string>
                <key>spriteSourceSize</key>
                <string>{95,137}</string>
                <key>textureRect</key>
                <string>{{560,260},{95,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,127}</string>
                <key>spriteSourceSize</key>
                <string>{93,127}</string>
                <key>textureRect</key>
                <string>{{1381,126},{93,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{1270,306},{105,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1067,295},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1067,184},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{1067,72},{111,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{1178,189},{99,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,154}</string>
                <key>spriteSourceSize</key>
                <string>{69,154}</string>
                <key>textureRect</key>
                <string>{{1073,1},{69,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,144}</string>
                <key>spriteSourceSize</key>
                <string>{78,144}</string>
                <key>textureRect</key>
                <string>{{134,316},{78,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,109}</string>
                <key>spriteSourceSize</key>
                <string>{83,109}</string>
                <key>textureRect</key>
                <string>{{835,220},{83,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,124}</string>
                <key>spriteSourceSize</key>
                <string>{74,124}</string>
                <key>textureRect</key>
                <string>{{324,387},{74,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,149}</string>
                <key>spriteSourceSize</key>
                <string>{60,149}</string>
                <key>textureRect</key>
                <string>{{72,345},{60,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_jump_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,162}</string>
                <key>spriteSourceSize</key>
                <string>{53,162}</string>
                <key>textureRect</key>
                <string>{{1560,1},{53,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_jump_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{968,201},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_knockOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,67}</string>
                <key>spriteSourceSize</key>
                <string>{100,67}</string>
                <key>textureRect</key>
                <string>{{1652,56},{100,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_knockOff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,89}</string>
                <key>spriteSourceSize</key>
                <string>{92,89}</string>
                <key>textureRect</key>
                <string>{{1711,352},{92,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_rangedAttack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{831,305},{100,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_rangedAttack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{604,357},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_rangedAttack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,121}</string>
                <key>spriteSourceSize</key>
                <string>{125,121}</string>
                <key>textureRect</key>
                <string>{{298,128},{125,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_rangedAttack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{298,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_rangedAttack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{126,123}</string>
                <key>textureRect</key>
                <string>{{432,246},{126,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_rangedAttack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,117}</string>
                <key>spriteSourceSize</key>
                <string>{102,117}</string>
                <key>textureRect</key>
                <string>{{948,302},{102,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1111,405},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{105,109}</string>
                <key>textureRect</key>
                <string>{{1000,406},{105,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,110}</string>
                <key>spriteSourceSize</key>
                <string>{103,110}</string>
                <key>textureRect</key>
                <string>{{888,407},{103,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,113}</string>
                <key>spriteSourceSize</key>
                <string>{99,113}</string>
                <key>textureRect</key>
                <string>{{1279,191},{99,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,114}</string>
                <key>spriteSourceSize</key>
                <string>{95,114}</string>
                <key>textureRect</key>
                <string>{{1378,312},{95,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{1221,413},{94,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_ultimate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,153}</string>
                <key>spriteSourceSize</key>
                <string>{67,153}</string>
                <key>textureRect</key>
                <string>{{1229,1},{67,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_ultimate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,160}</string>
                <key>spriteSourceSize</key>
                <string>{98,160}</string>
                <key>textureRect</key>
                <string>{{97,1},{98,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_ultimate_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,166}</string>
                <key>spriteSourceSize</key>
                <string>{69,166}</string>
                <key>textureRect</key>
                <string>{{1,345},{69,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_ultimate_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,165}</string>
                <key>spriteSourceSize</key>
                <string>{69,165}</string>
                <key>textureRect</key>
                <string>{{740,1},{69,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_ultimate_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,164}</string>
                <key>spriteSourceSize</key>
                <string>{68,164}</string>
                <key>textureRect</key>
                <string>{{907,1},{68,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_ultimate_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,134}</string>
                <key>spriteSourceSize</key>
                <string>{79,134}</string>
                <key>textureRect</key>
                <string>{{730,139},{79,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_ultimate_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{104,62}</string>
                <key>textureRect</key>
                <string>{{214,449},{104,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_ultimate_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,67}</string>
                <key>textureRect</key>
                <string>{{702,407},{104,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_ultimate_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,79}</string>
                <key>spriteSourceSize</key>
                <string>{100,79}</string>
                <key>textureRect</key>
                <string>{{866,139},{100,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_ultimate_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{98,119}</string>
                <key>textureRect</key>
                <string>{{1281,70},{98,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{138,65}</string>
                <key>spriteSourceSize</key>
                <string>{138,95}</string>
                <key>textureRect</key>
                <string>{{740,72},{138,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{118,73}</string>
                <key>spriteSourceSize</key>
                <string>{118,95}</string>
                <key>textureRect</key>
                <string>{{1494,335},{118,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{151,47}</string>
                <key>spriteSourceSize</key>
                <string>{151,95}</string>
                <key>textureRect</key>
                <string>{{425,91},{151,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{130,83}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{703,220},{130,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1614,348},{84,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{88,95}</string>
                <key>textureRect</key>
                <string>{{1722,262},{88,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_up_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{93,95}</string>
                <key>textureRect</key>
                <string>{{1175,297},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_win_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,154}</string>
                <key>spriteSourceSize</key>
                <string>{99,154}</string>
                <key>textureRect</key>
                <string>{{197,1},{99,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_win_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,75}</string>
                <key>textureRect</key>
                <string>{{1418,410},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_win_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{1337,413},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_win_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,119}</string>
                <key>spriteSourceSize</key>
                <string>{88,119}</string>
                <key>textureRect</key>
                <string>{{1502,245},{88,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_win_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{84,150}</string>
                <key>textureRect</key>
                <string>{{578,97},{84,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goku_win_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,128}</string>
                <key>spriteSourceSize</key>
                <string>{97,128}</string>
                <key>textureRect</key>
                <string>{{968,71},{97,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_win_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,173}</string>
                <key>spriteSourceSize</key>
                <string>{94,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goku_win_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,167}</string>
                <key>spriteSourceSize</key>
                <string>{94,167}</string>
                <key>textureRect</key>
                <string>{{1,176},{94,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goku.png</string>
            <key>size</key>
            <string>{1804,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48e0fef7d1b82a3534a3a14311dc7fad:79df1f83c63f9de4ad96e45ddbd9d837:57d2438bfd6d5791873f5edd42e1a794$</string>
            <key>textureFileName</key>
            <string>Goku.png</string>
        </dict>
    </dict>
</plist>
