<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Kid_Buu_boom_00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{62,58}</string>
			<key>spriteSourceSize</key>
			<string>{62,90}</string>
			<key>textureRect</key>
			<string>{{420,728},{62,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{64,58}</string>
			<key>spriteSourceSize</key>
			<string>{64,90}</string>
			<key>textureRect</key>
			<string>{{261,1180},{64,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{64,58}</string>
			<key>spriteSourceSize</key>
			<string>{64,90}</string>
			<key>textureRect</key>
			<string>{{427,662},{64,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{83,89}</string>
			<key>spriteSourceSize</key>
			<string>{83,103}</string>
			<key>textureRect</key>
			<string>{{342,590},{83,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,102}</string>
			<key>spriteSourceSize</key>
			<string>{85,102}</string>
			<key>textureRect</key>
			<string>{{379,101},{85,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{77,95}</string>
			<key>spriteSourceSize</key>
			<string>{77,99}</string>
			<key>textureRect</key>
			<string>{{248,827},{77,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{76,89}</string>
			<key>spriteSourceSize</key>
			<string>{76,95}</string>
			<key>textureRect</key>
			<string>{{342,681},{76,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,102}</string>
			<key>spriteSourceSize</key>
			<string>{84,102}</string>
			<key>textureRect</key>
			<string>{{248,420},{84,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{88,103}</string>
			<key>spriteSourceSize</key>
			<string>{88,105}</string>
			<key>textureRect</key>
			<string>{{248,315},{88,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,104}</string>
			<key>spriteSourceSize</key>
			<string>{81,104}</string>
			<key>textureRect</key>
			<string>{{250,131},{81,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,104}</string>
			<key>spriteSourceSize</key>
			<string>{81,104}</string>
			<key>textureRect</key>
			<string>{{248,524},{81,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{127,128}</string>
			<key>spriteSourceSize</key>
			<string>{127,128}</string>
			<key>textureRect</key>
			<string>{{250,1},{127,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,119}</string>
			<key>spriteSourceSize</key>
			<string>{119,119}</string>
			<key>textureRect</key>
			<string>{{1,959},{119,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,119}</string>
			<key>spriteSourceSize</key>
			<string>{119,119}</string>
			<key>textureRect</key>
			<string>{{1,1080},{119,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,119}</string>
			<key>spriteSourceSize</key>
			<string>{119,119}</string>
			<key>textureRect</key>
			<string>{{122,959},{119,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,71}</string>
			<key>spriteSourceSize</key>
			<string>{71,71}</string>
			<key>textureRect</key>
			<string>{{343,911},{71,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,66}</string>
			<key>spriteSourceSize</key>
			<string>{68,66}</string>
			<key>textureRect</key>
			<string>{{122,1180},{68,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,67}</string>
			<key>spriteSourceSize</key>
			<string>{68,67}</string>
			<key>textureRect</key>
			<string>{{416,907},{68,67}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{67,66}</string>
			<key>spriteSourceSize</key>
			<string>{67,66}</string>
			<key>textureRect</key>
			<string>{{192,1180},{67,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_18_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{245,130}</string>
			<key>spriteSourceSize</key>
			<string>{245,130}</string>
			<key>textureRect</key>
			<string>{{1,587},{245,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{245,142}</string>
			<key>spriteSourceSize</key>
			<string>{245,142}</string>
			<key>textureRect</key>
			<string>{{1,443},{245,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{247,146}</string>
			<key>spriteSourceSize</key>
			<string>{247,146}</string>
			<key>textureRect</key>
			<string>{{1,1},{247,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{245,145}</string>
			<key>spriteSourceSize</key>
			<string>{245,145}</string>
			<key>textureRect</key>
			<string>{{1,149},{245,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{245,145}</string>
			<key>spriteSourceSize</key>
			<string>{245,145}</string>
			<key>textureRect</key>
			<string>{{1,296},{245,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{243,118}</string>
			<key>spriteSourceSize</key>
			<string>{243,118}</string>
			<key>textureRect</key>
			<string>{{1,839},{243,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{245,118}</string>
			<key>spriteSourceSize</key>
			<string>{245,118}</string>
			<key>textureRect</key>
			<string>{{1,719},{245,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,52}</string>
			<key>spriteSourceSize</key>
			<string>{61,52}</string>
			<key>textureRect</key>
			<string>{{433,436},{61,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,61}</string>
			<key>spriteSourceSize</key>
			<string>{52,61}</string>
			<key>textureRect</key>
			<string>{{433,373},{52,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,52}</string>
			<key>spriteSourceSize</key>
			<string>{61,52}</string>
			<key>textureRect</key>
			<string>{{342,772},{61,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,52}</string>
			<key>spriteSourceSize</key>
			<string>{61,52}</string>
			<key>textureRect</key>
			<string>{{430,499},{61,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,58}</string>
			<key>spriteSourceSize</key>
			<string>{70,58}</string>
			<key>textureRect</key>
			<string>{{427,590},{70,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{42,53}</string>
			<key>spriteSourceSize</key>
			<string>{100,93}</string>
			<key>textureRect</key>
			<string>{{1,1201},{42,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{56,73}</string>
			<key>spriteSourceSize</key>
			<string>{96,93}</string>
			<key>textureRect</key>
			<string>{{409,849},{56,73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-3,-3}</string>
			<key>spriteSize</key>
			<string>{62,83}</string>
			<key>spriteSourceSize</key>
			<string>{92,93}</string>
			<key>textureRect</key>
			<string>{{345,826},{62,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-2,-3}</string>
			<key>spriteSize</key>
			<string>{69,87}</string>
			<key>spriteSourceSize</key>
			<string>{97,93}</string>
			<key>textureRect</key>
			<string>{{321,1174},{69,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{79,89}</string>
			<key>spriteSourceSize</key>
			<string>{95,93}</string>
			<key>textureRect</key>
			<string>{{243,996},{79,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{84,93}</string>
			<key>spriteSourceSize</key>
			<string>{100,99}</string>
			<key>textureRect</key>
			<string>{{338,412},{84,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-3,-2}</string>
			<key>spriteSize</key>
			<string>{88,95}</string>
			<key>spriteSourceSize</key>
			<string>{96,99}</string>
			<key>textureRect</key>
			<string>{{246,906},{88,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{92,95}</string>
			<key>spriteSourceSize</key>
			<string>{92,99}</string>
			<key>textureRect</key>
			<string>{{248,730},{92,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{95,95}</string>
			<key>spriteSourceSize</key>
			<string>{97,99}</string>
			<key>textureRect</key>
			<string>{{319,1077},{95,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{95,99}</string>
			<key>spriteSourceSize</key>
			<string>{95,99}</string>
			<key>textureRect</key>
			<string>{{248,214},{95,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,98}</string>
			<key>spriteSourceSize</key>
			<string>{100,98}</string>
			<key>textureRect</key>
			<string>{{379,1},{100,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,98}</string>
			<key>spriteSourceSize</key>
			<string>{96,98}</string>
			<key>textureRect</key>
			<string>{{221,1080},{96,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,98}</string>
			<key>spriteSourceSize</key>
			<string>{92,98}</string>
			<key>textureRect</key>
			<string>{{248,630},{92,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,98}</string>
			<key>spriteSourceSize</key>
			<string>{97,98}</string>
			<key>textureRect</key>
			<string>{{122,1080},{97,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{95,90}</string>
			<key>spriteSourceSize</key>
			<string>{95,98}</string>
			<key>textureRect</key>
			<string>{{338,315},{95,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{96,90}</string>
			<key>spriteSourceSize</key>
			<string>{100,94}</string>
			<key>textureRect</key>
			<string>{{345,214},{96,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{94,90}</string>
			<key>spriteSourceSize</key>
			<string>{96,94}</string>
			<key>textureRect</key>
			<string>{{334,498},{94,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,33}</string>
			<key>spriteSourceSize</key>
			<string>{40,33}</string>
			<key>textureRect</key>
			<string>{{450,1194},{40,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,47}</string>
			<key>spriteSourceSize</key>
			<string>{49,47}</string>
			<key>textureRect</key>
			<string>{{437,238},{49,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,55}</string>
			<key>spriteSourceSize</key>
			<string>{59,55}</string>
			<key>textureRect</key>
			<string>{{430,312},{59,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Kid_Buu_boom_51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,57}</string>
			<key>textureRect</key>
			<string>{{343,984},{61,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,59}</string>
			<key>spriteSourceSize</key>
			<string>{69,59}</string>
			<key>textureRect</key>
			<string>{{416,788},{69,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{430,562},{26,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,38}</string>
			<key>textureRect</key>
			<string>{{410,1194},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{56,1201},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{416,1146},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{437,188},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{416,1094},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,52}</string>
			<key>spriteSourceSize</key>
			<string>{52,52}</string>
			<key>textureRect</key>
			<string>{{416,1040},{52,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Kid_Buu_boom_60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{406,984},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Kid_Buu_boom.png</string>
		<key>size</key>
		<string>{486,1247}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f9fe94150502ce8e9a7b5b7dc786d347:edfe4427e1c9b00f61915d074956e23e:518779a85cf76ff96dda61e80d5a5ce4$</string>
		<key>textureFileName</key>
		<string>Kid_Buu_boom.png</string>
	</dict>
</dict>
</plist>
