<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kid_Buu_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,94}</string>
                <key>spriteSourceSize</key>
                <string>{64,94}</string>
                <key>textureRect</key>
                <string>{{701,1},{64,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,92}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{839,96},{64,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,94}</string>
                <key>spriteSourceSize</key>
                <string>{71,94}</string>
                <key>textureRect</key>
                <string>{{641,98},{71,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{563,1},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{56,90}</string>
                <key>textureRect</key>
                <string>{{904,1},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,92}</string>
                <key>spriteSourceSize</key>
                <string>{61,92}</string>
                <key>textureRect</key>
                <string>{{774,191},{61,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,120}</string>
                <key>spriteSourceSize</key>
                <string>{56,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,120}</string>
                <key>spriteSourceSize</key>
                <string>{43,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{43,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{47,84}</string>
                <key>textureRect</key>
                <string>{{1467,87},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,91}</string>
                <key>spriteSourceSize</key>
                <string>{50,91}</string>
                <key>textureRect</key>
                <string>{{498,201},{50,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,102}</string>
                <key>spriteSourceSize</key>
                <string>{63,102}</string>
                <key>textureRect</key>
                <string>{{219,106},{63,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{339,104},{100,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{868,190},{61,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,87}</string>
                <key>spriteSourceSize</key>
                <string>{49,87}</string>
                <key>textureRect</key>
                <string>{{1107,1},{49,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_charge_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{1589,168},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_charge_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,84}</string>
                <key>textureRect</key>
                <string>{{1640,83},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_charge_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{1571,86},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_charge_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{1575,1},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_defend_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{1130,177},{56,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,85}</string>
                <key>spriteSourceSize</key>
                <string>{60,85}</string>
                <key>textureRect</key>
                <string>{{1264,88},{60,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{77,57}</string>
                <key>spriteSourceSize</key>
                <string>{77,85}</string>
                <key>textureRect</key>
                <string>{{1250,175},{77,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{98,61}</string>
                <key>spriteSourceSize</key>
                <string>{98,91}</string>
                <key>textureRect</key>
                <string>{{436,101},{98,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{99,39}</string>
                <key>spriteSourceSize</key>
                <string>{99,91}</string>
                <key>textureRect</key>
                <string>{{330,208},{99,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{120,33}</string>
                <key>spriteSourceSize</key>
                <string>{120,91}</string>
                <key>textureRect</key>
                <string>{{59,1},{120,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_dodge_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,88}</string>
                <key>spriteSourceSize</key>
                <string>{57,88}</string>
                <key>textureRect</key>
                <string>{{1060,91},{57,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_dodge_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{1326,87},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_fastMove_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{1450,173},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_fastMove_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,85}</string>
                <key>spriteSourceSize</key>
                <string>{65,85}</string>
                <key>textureRect</key>
                <string>{{1197,88},{65,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_fastMove_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{684,194},{88,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_fastMove_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{684,194},{88,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_fastMove_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{684,194},{88,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,89}</string>
                <key>spriteSourceSize</key>
                <string>{68,89}</string>
                <key>textureRect</key>
                <string>{{953,184},{68,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{1382,173},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{1398,87},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{67,85}</string>
                <key>textureRect</key>
                <string>{{1158,1},{67,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,88}</string>
                <key>textureRect</key>
                <string>{{1037,1},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{69,89}</string>
                <key>textureRect</key>
                <string>{{989,92},{69,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,110}</string>
                <key>spriteSourceSize</key>
                <string>{41,110}</string>
                <key>textureRect</key>
                <string>{{82,123},{41,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,101}</string>
                <key>spriteSourceSize</key>
                <string>{45,101}</string>
                <key>textureRect</key>
                <string>{{307,1},{45,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{53,83}</string>
                <key>textureRect</key>
                <string>{{1516,86},{53,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,91}</string>
                <key>spriteSourceSize</key>
                <string>{56,91}</string>
                <key>textureRect</key>
                <string>{{591,196},{56,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,100}</string>
                <key>spriteSourceSize</key>
                <string>{60,100}</string>
                <key>textureRect</key>
                <string>{{354,1},{60,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,104}</string>
                <key>spriteSourceSize</key>
                <string>{57,104}</string>
                <key>textureRect</key>
                <string>{{125,109},{57,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_knockOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{1654,183},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_rangedAttack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,106}</string>
                <key>spriteSourceSize</key>
                <string>{39,106}</string>
                <key>textureRect</key>
                <string>{{94,1},{39,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_rangedAttack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,101}</string>
                <key>spriteSourceSize</key>
                <string>{53,101}</string>
                <key>textureRect</key>
                <string>{{284,105},{53,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_rangedAttack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{1702,62},{59,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_rangedAttack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{1702,123},{58,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_rangedAttack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,93}</string>
                <key>spriteSourceSize</key>
                <string>{67,93}</string>
                <key>textureRect</key>
                <string>{{767,1},{67,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_rangedAttack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,97}</string>
                <key>spriteSourceSize</key>
                <string>{67,97}</string>
                <key>textureRect</key>
                <string>{{499,100},{67,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,103}</string>
                <key>spriteSourceSize</key>
                <string>{48,103}</string>
                <key>textureRect</key>
                <string>{{216,1},{48,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,104}</string>
                <key>spriteSourceSize</key>
                <string>{41,104}</string>
                <key>textureRect</key>
                <string>{{135,1},{41,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,104}</string>
                <key>spriteSourceSize</key>
                <string>{36,104}</string>
                <key>textureRect</key>
                <string>{{178,1},{36,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,102}</string>
                <key>spriteSourceSize</key>
                <string>{39,102}</string>
                <key>textureRect</key>
                <string>{{266,1},{39,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,104}</string>
                <key>spriteSourceSize</key>
                <string>{33,104}</string>
                <key>textureRect</key>
                <string>{{184,107},{33,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,102}</string>
                <key>spriteSourceSize</key>
                <string>{37,102}</string>
                <key>textureRect</key>
                <string>{{125,215},{37,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_ultimate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,93}</string>
                <key>spriteSourceSize</key>
                <string>{67,97}</string>
                <key>textureRect</key>
                <string>{{770,96},{67,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{71,95}</string>
                <key>spriteSourceSize</key>
                <string>{71,97}</string>
                <key>textureRect</key>
                <string>{{568,99},{71,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,97}</string>
                <key>spriteSourceSize</key>
                <string>{81,97}</string>
                <key>textureRect</key>
                <string>{{480,1},{81,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{905,93},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{94,97}</string>
                <key>textureRect</key>
                <string>{{1119,90},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{66,97}</string>
                <key>textureRect</key>
                <string>{{836,1},{66,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{76,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,97}</string>
                <key>textureRect</key>
                <string>{{1309,175},{76,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_ultimate_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{71,97}</string>
                <key>textureRect</key>
                <string>{{1702,1},{71,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{68,97}</string>
                <key>textureRect</key>
                <string>{{1519,171},{68,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_ultimate_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{73,89}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{962,1},{73,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,74}</string>
                <key>textureRect</key>
                <string>{{416,1},{98,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{99,40}</string>
                <key>spriteSourceSize</key>
                <string>{99,74}</string>
                <key>textureRect</key>
                <string>{{229,210},{99,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{120,34}</string>
                <key>spriteSourceSize</key>
                <string>{120,74}</string>
                <key>textureRect</key>
                <string>{{46,123},{120,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{94,74}</string>
                <key>textureRect</key>
                <string>{{714,97},{94,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{51,74}</string>
                <key>textureRect</key>
                <string>{{436,201},{51,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,74}</string>
                <key>textureRect</key>
                <string>{{1715,183},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_up_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{69,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{1644,1},{69,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_up_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{1188,177},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_win_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{1044,183},{69,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kid_Buu_win_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{629,1},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_win_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{1293,1},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_win_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{69,83}</string>
                <key>textureRect</key>
                <string>{{1504,1},{69,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_win_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,84}</string>
                <key>textureRect</key>
                <string>{{1367,1},{69,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_win_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{1438,1},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kid_Buu_win_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,85}</string>
                <key>spriteSourceSize</key>
                <string>{64,85}</string>
                <key>textureRect</key>
                <string>{{1227,1},{64,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kid_Buu.png</string>
            <key>size</key>
            <string>{1774,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2881ba3c2abbed477d696192edf56e80:938f4252e6110c1a9f4c1ef68c47243c:518779a85cf76ff96dda61e80d5a5ce4$</string>
            <key>textureFileName</key>
            <string>Kid_Buu.png</string>
        </dict>
    </dict>
</plist>
